/* General Styles */

body{
	font-family: 'Dosis', sans-serif;
	margin: 0px auto;
	min-width: 1081px;
	width: 100%;
	height: 100%;
	min-height: 700;
	display: block;
}

/* Header */
header{
	border-style: solid;
	background-color: #56080d;
	color: white;
	padding-bottom: 5px;
	padding-top: 0px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}

header ul{
	height: 80px;
    margin:0;
    padding:0;
    list-style:none;
    min-width: 1020px;
    text-align: center;
}

header nav li{
	font-family: 'Dosis', sans-serif;
	width: 120px;
	font-size: 24px;
	display: inline-block;
	margin-top: 20px;
	margin-right: 50px;

}

header nav li a:link{
	text-decoration: none;
	color: white;
}

header nav li a:hover{
	color: silver;
}

header nav li a:visited{
	color: white;
}

header nav li a:active{
	color: black;
}

/* Main Content */
#main-content{
	width: 90%;
	height: 100%;
	min-height: 700;
	max-width: 1025px;
	margin: -50px auto;
}

/* Headshot */
#main-content img{
	display: block;
	margin: 0 auto;
	padding-bottom: 25px;
}

/* Name */
#title{
	font-family: 'Dosis', sans-serif;
	position: relative;
	margin: 0;
	display: inline;
	top: 400px;
	left: 600px;
}

#name{
	color:white;
	font-size:50px;
}
 /* title */
#subtitle{
	font-size:28px;
	color: white;
}

/* Main Content Sub-Spaces */
/* About Me */
section.backdrop {
	position: relative;
	margin: 100px 5px 100px 25px;
	max-width: 80%;

}
/* Millie Pic on About Me */
#main-content .backdrop img{
	max-height: 100%;
	max-width: 100%;
	opacity: 0.5;
	margin-left: 0px;
	padding-right: 5px;
	border: 0px;
	float: left;
}

/* About Me Write-Up */
#main-content article{
	display: inline-block;
	position: relative;
	float: right;
	max-width: 45%;
	text-align: left;
	font-size: 18px;
	padding-left: 5px;
}

/* Bolded Par of About Me Write-Up */
#standout-text {
	font-size: 32px;
	color: #56080d;
	font-weight: bold;
	display: inline;
}

/* Resume Page */
#resume {
	background-color: #d9d9d9;
}

/* Resume Image */
#resume-pdf img{
	max-width: 1080px;
	max-height: 1000px;
	margin: 10px auto 0px auto;
	display: block;
	border: 15px;
	border-style: solid;
	border-color: black;
}

/* Download Instructions */
section#download-instructions{
	margin: 0px 0px 15px 0px;
	padding-top: 15px;
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
	font-style: italic;
}

/* Headshots Page */
#wrapper{
	display: block;
	width: 80%;
	margin: 0 auto;
	position: relative;
}

#headshots{
	width: 100%;
	max-width: 1080px;
	height: 100%;
	margin: 50 auto;
	position: absolute;
}

.headshot-pic{
	margin: 50 auto 75 auto;
	float: left;
	min-height: 350px;
	max-height: 600px;
	width: 50%;
	height: 45%;
	display: block;
}

.headshot-pic img{
	display: block;
	max-width: 90%;
	margin: 50px auto;
	max-height: 307px;
	overflow: hidden;
}

section#headshots article:nth-child(3){
	clear: both;
}

#sub-title{
	display: block;
	margin: 10px auto;
	padding-top: 25px;
	text-align: center;
	font-size: 36px;
}





