/* General Styles */

body{
	font-family: 'Dosis', sans-serif;
	margin: 0px auto;
	min-width: 960px;
	width: 100%;
}

/* Header */
header{
	border-style: solid;
	background-color: #56080d;
	color: white;
	padding-bottom: 5px;
	padding-top: 0px;
}

header ul{
	height: 80px;
    margin:0;
    padding:0;
    list-style:none;
}

header nav li{
	font-family: 'Dosis', sans-serif;
	float: right;
	width: 120px;
	font-size: 24px;
	display: block;
	margin-top: 20px;
	margin-right: 50px;
}

header nav li a:link{
	text-decoration: none;
	color: white;
}

header nav li a:hover{
	color: silver;
}

header nav li a:visited{
	color: white;
}

header nav li a:active{
	color: black;
}

/* Main Content */
#main-content{
	width: 90%;
	max-width: 1025px;
	margin: -50px auto;
}
#main-content img{
	display: block;
	margin: 0 auto;
}

#title{
	font-family: 'Dosis', sans-serif;
	position: relative;
	margin: 0;
	display: inline;
	top: 400px;
	left: 600px;
}

#name{
	color:white;
	font-size:50px;
}

#subtitle{
	font-size:28px;
	color: white;
}