p{
	color:red;
	background-color:yellow;
	font-size:24px;
}

.violet-background{
	background-color:#a787df;
}

#copyright{
	font-size:10px;
}
p em{
	color:blue;
}
h1{
	background-color:#8ed18d
}
h2{
	background-color:#8ed18d ; color:#2b1651
}
body{
	background:url("homer.gif");
}