p{
	color:blue;
	font-size:16px;
}

body{
	padding:0;
	margin:0 auto;
	width:960px;
	font-family: 'Special Elite', cursive;
}

#header{
	background-color:#96fee5;
}

#header h1{
	padding:0;
	margin:0;
}

#header{
	border:6px dotted;
	padding:9px;
	border-color:blue;
	border-radius:10px;
}

#main-content a:link{
	color:blue;
}

#main-content a:visited{
	color:red;
}

#main-content a:hover{
	text-decoration:none;
	color:purple;
}

#main-content a:active{
	color:yellow;
}

#main-content a{
	color:red;
}

#main-content p{
	margin:0;
	padding:20px 0;
}

#main-content{
	border:10px dashed;
	padding:10px;
}

#footer{
	border-image:"bean.jpg"
}

.text-purple{
	color:purple;	
}

#footer{

}

